<!DOCTYPE html>
<head>
    <title>MyPharm</title>
    <link rel="shortcut icon"
          href="{{ url_for('static', filename='medicine-jar.png') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
</head>

<body>
<div id="logoContainer">
    <div id="logo">
        <img id="headerLogo" src="{{ url_for('static', filename='medicine-jar.png') }}" class="icon"/>
    </div>
    <div>
        <h3 id="name">My Pharm</h3>
    </div>
</div>

<div id="inputContainer">

    <div id="desc">
        Tell me how you feel and we will recommend appropriate medication/pills!
    </div>

    <form action="/" method="post">
        <textarea type="text" id="feel" name="feel_input"
                  placeholder="How are you today?" required></textarea>
        <input type="submit" value="Recommend"/>
    </form>
</div>

<div id="outputContainer">
    {% if symptoms %}
    <div id="possible">You are possibly experiencing...</div>
    <div class="symptoms">{{ result }}</div>
    {% endif %}

    {% if symptoms_list %}
    <div id="recommendations">These are the recommended medications:</div>
    <ul class="symptoms_list">
        {% for symptom in symptoms_list %}
        <li>{{ symptom }}</li>
        <!-- Code here to display each symptoms-->
        {% endfor %}
    </ul>
    {% endif %}
</div>


</body>


<script>

    document.getElementById("feel").addEventListener("input", function () {
        this.style.height = "auto"; // Reset the height to auto
        this.style.height = this.scrollHeight + "px"; // Set the height to match the content
    });


</script>

