@font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIRegular.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "ColfaxAI";
    src: url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff2) format("woff2"),
    url(https://cdn.openai.com/API/fonts/ColfaxAIBold.woff) format("woff");
    font-weight: bold;
    font-style: normal;
}

body,
input {
    font-size: 16px;
    line-height: 24px;
    color: #353740;
    font-family: "ColfaxAI", Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
}

#logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputContainer {
    width: 55%;
}

#logoContainer{
    display: flex;
    flex-direction: row;
}

#desc {
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

::placeholder {
    color: #8e8ea0;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

textarea[type=text] {
    width: 100%;
    min-height: 100px;
    overflow: auto;
    background:  #e4f0ea;
    border: 1px solid #e4f0ea;
    border-radius: 15px;
    padding: 15px;
}

input[type="submit"] {
    margin-left: 30px;
    padding: 12px;
    color: #FFCB27;
    background-color: #0db561;
    border: none;
    border-radius: 19px;
    text-align: center;
    cursor: pointer;
    height: 75px;
}

input[type="submit"]:focus {
    border-color: #FFCB27;
}

#possible {
    padding-top:60px;
}


.result {
     /*display: none;*/
    font-weight: bold;
    margin-top: 40px;
}

{% if result %}
.result {
    display: block;
}
{% endif %}


.icon {
    width: 45px;
}

#name{
    padding-left: 10px;
}

h3 {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
    color: #202123;
    //margin: 16px 0 40px;
}


